<article class="container archive">
    <section class="index">
        <h1><%= t 'messages.archive' %></h1>
    </section>
    <section class="index">
        <h2>
            <% if page_type == "month" %>
                <%
                month_name = I18n.l Date.new(year, month, 1), :format => "%B"
                year_value = I18n.l Date.new(year, month, 1), :format => "%Y"
                %>
                <%= t('messages.posts_amount_by_month', month: month_name, year: year_value, count: articles.count) %>
            <% elsif page_type == "year" %>
                <%= year %> <%= t('messages.posts_amount_by_year', count: articles.count) %>
            <% end %>
        </h2>
    </section>

    <%= partial "partials/list_archive", :locals => {
        :page_articles => articles,
    } %>
</article>
