<% page_articles.each_with_index do |article, i| %>
<section class="index">
    <%
    author_email = config[:site][:main_author][:email]
    author_name = config[:site][:main_author][:name]
    
    if article.metadata[:page]["author"]
        author_email = article.metadata[:page]["author"]["email"] if article.metadata[:page]["author"]["email"]
        author_name = article.metadata[:page]["author"]["name"] if article.metadata[:page]["author"]["name"]
    end
    
    %>
    <img class="avatar" src="<%= gravatar_for(author_email) %>" />
    <div>
        <h3 class="title">
            <%= link_to article.title + " &raquo;", article.url, :rel => "prefetch", :title => t('messages.click_for_details') %>
        </h3>
        <div class="meta">
            <%= t('messages.written_by') %>: <address><%= author_name %></address> &mdash;
            <time pubdate datetime="<%= article.date.xmlschema %>" title="<%= I18n.l article.date, :format => "%d %B %Y, %A %H:%M" %>"><%= I18n.l article.date, :format => "%d %B %Y, %A %H:%M" %></time>
        </div>
    </div>
    <hr>
</section>
<% end %>
